<nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
  <a href="" class="navbar-brand ml-4">
    <img [src] = "'assets/img/logo.png'" height="40" width="60" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Main</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Questions</a>
      <a class="nav-item nav-link" href="#">Contacts</a>
    </div>
  </div>
</nav>




<main id="main">
  <div class="cont">
    <router-outlet></router-outlet>
  </div>
</main>



<footer id="footer"></footer>



