<header id="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a routerLink="/vac" class="navbar-brand ml-4">
      <img [src] = "'assets/img/logo.png'" height="40" width="60" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" routerLink="/main" routerLinkActive="active">Главная</a>
          </li>

          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">Описание</a>
          </li>

          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-item nav-link" routerLink="/contacts" routerLinkActive="active">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main id="main">
  <router-outlet></router-outlet>
</main>



