<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <div class="h1">Описание</div>
      <div class="text-muted">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Accusantium amet atque consequuntur, et eveniet ex facere ipsam iusto numquam porro quaerat quo reprehenderit sint!
          Asperiores aspernatur commodi consectetur consequuntur corporis, cum debitis, delectus distinctio eum fugit hic ipsam ipsum laborum
          minus nesciunt obcaecati odio odit porro quibusdam quos repellendus sint soluta temporibus vel veritatis voluptas voluptatibus?
          Dolore eligendi ex laudantium magnam nobis numquam! Ad architecto at culpa deleniti deserunt dicta ea eveniet, harum laudantium
          nam neque nisi quas, quo rem repellendus saepe, sint veniam voluptate. Dolore eaque eius mollitia neque nostrum sapiente tempora.
          Eaque eligendi fugiat odio rem, sunt vitae?
        </p>
      </div>
    </div>
  </div>
</div>
