<div class="container text-center mt-5" id="title">
  <div class="row">
    <div class="col-12 h2">
      JuniorDev.by - быстрый поиск вакансий для Junior-разработчиков в Беларуси
    </div>
  </div>
</div>


<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-12 ">
      <form action="" (ngSubmit)="submit()" [formGroup]="form">

        <div class="form-group">
          <label for="website">Выберите источник:</label>
          <select name="" id="website" class="form-control" formControlName="website">
            <option *ngFor="let key of websitesKeys" [value]="key">{{ websites[key] }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="city">Выберите город:</label>
          <select name="" id="city" class="form-control" formControlName="city">
            <option *ngFor="let key of citiesKeys" [value]="key">{{ cities[key] }}</option>
          </select>
        </div>

        <div class="form-group" id="scr">
          <label for="technology">Выберите технологию:</label>
          <select name="" id="technology" class="form-control" formControlName="technology">
            <option *ngFor="let key of technologiesKeys" [value]="key">{{ technologies[key] }}</option>
          </select>
        </div>

        <button class="btn btn-info mt-2" type="submit" id="scrollHere">Найти вакансии</button>
      </form>
    </div>
  </div>
</div>


<div class="container h4 mt-5 text-center text-muted" *ngIf="!vacancies.length && !loading">Ничего не найдено</div>

<div class="container h4 mt-5 text-center text-muted" *ngIf="loading">Загрузка данных ...</div>

<div class="mt-5" id="result" *ngIf="vacancies.length && !loading">
  <div class="container h4">Результаты поиска</div>

  <div  *ngFor="let v of vacancies  | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize">
    <div class="container">
      <div class="card mt-4">
        <img src="" alt="" class="card-img-top">
        <div class="card-header">
          {{ v.companyName }}
        </div>
        <div class="card-body">
          <h4 class="card-title">
            {{ v.title }}
          </h4>
          <div class="card-subtitle text-muted mb-4 h6">
            <img [src]="'assets/img/officebuilding.png'" alt="" width="25" height="25" class="d-inline-block align-bottom">
            {{ v.address }}
            <p class="mt-2">
              <img [src]="'assets/img/cash.png'" alt="cash" width="25" height="25" class="d-inline-block align-bottom">
              {{ v.salary === null ? 'Не указана' : v.salary }}
            </p>
          </div>
          <p class="card-text">
            {{ v.description }}
          </p>
          <a href="{{ v.url }}" target="_blank" class="card-link">Узнать больше</a>
        </div>
        <div class="card-footer text-muted">
          {{ v.date }}
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="collectionSize"
      (click)="scroll('result')">
    </ngb-pagination>
  </div>
</div>

